.streaming-news-timeline{
    height: 305px;
    display: block;
}
/** latest tnewsweet */
.list-news{
    padding-right: 10px;
    background: transparent;
    margin: 0;
    height: 100%;
    overflow-y: auto;
}
.list-news:after{
    display: block;
    content: "";
    clear: both;
}
.list-news .list-group-item{
    padding: 10px 0;
    background: transparent;
    border-left: none;
    border-right: none;
    border-color: #ddd;
    font-size: 13px;
}
.list-news > span:first-of-type{
    border-top: none;
}
.list-news > span:last-of-type{
    border-bottom: none;
}
.list-news .list-group-item .content-news{
    cursor: pointer;
    padding-left: 8px;
}
.list-news .list-group-item .content-news:hover{
    background-color: #e4e5e6;
}
.list-news .list-group-item .content-news .profile-picture,
.list-twnewseets .list-group-item .content-news .profile-picture-default{
    width: 48px;
    height: 48px;
}
.list-news .list-group-item .content-news > a{
    color: black;
}
.list-news .list-group-item .content-news > a:hover{
    text-decoration: none;
}
.list-news .list-group-item .content-news > a:hover > strong{
    text-decoration: underline;
}
.list-news .list-group-item .content-news > a > img{
    float: left;
    margin-left: -58px;
    border-radius: 5px;
}
.list-news .list-group-item .content-news > p{
    margin-bottom: 5px;
    color: #000;
}
.list-news .list-group-item .content-news [class^=news-image]:before,
.list-news .list-group-item .content-news [class^=news-image]:after{
    content: " ";
    clear: both;
}
.list-news .list-group-item .content-news .post-date{
    white-space: nowrap;
    font-size: .9em;
}
.list-news .list-group-item .content-news .source .media .fa{
    font-size: 1.2em;
    cursor: default;
}
.list-news .list-group-item .content-news .source{
    font-size: 0.9em;
    margin: 5px 0 0;
    color: #666;
}
.list-news .list-group-item .content-news .text-muted{
    color: #666;
}

/*.container-timeline {
    margin: 0 37px 5px;
    overflow: hidden;
}
.container-timeline-page {
    margin: 0 37px;
}

.container-timeline-wrapper {
    position: relative;
}

.container-timeline-wrapper .left-dir, .container-timeline-wrapper .right-dir {
    position: absolute;
    bottom: 0;
    top:10px;
}

.container-timeline-wrapper .left-dir {
    left: 0;   
}
 .container-timeline-wrapper .right-dir {
    right: 0;
    top:10px;
}
.pagination {
    margin: 0;
}

.container-timeline-page {
    margin: 0 37px;
}
.container-timeline-page::after {
    clear: both;
    content: "";
    display: table;
}*/
.container-timeline-page::after {
    clear: both;
    content: "";
    display: table;
}
.row-timeline-page {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.row-timeline-page .cell-timeline-page:first-child {
    border-left: 1px solid #515151;
}
.row-timeline-page .cell-timeline-page {
    border-right: 1px solid #515151;
    display: table-cell;
    font-weight: bold;
    line-height: 30px;
    padding: 0 10px;
    vertical-align: middle;
}

.container-timeline {
    margin: 0 37px 5px;
    overflow: hidden;
}
.container-timeline-page {
    margin: 0 37px;
}

.container-timeline-wrapper {
    position: relative;
}

.container-timeline-wrapper .left-dir, .container-timeline-wrapper .right-dir {
    position: absolute;
    bottom: 0;
}

.container-timeline-wrapper .left-dir {
    left: 0;   
}
 .container-timeline-wrapper .right-dir {
    right: 0;
}
.pagination {
    margin: 0;
}
